@font-face {
	font-family: "Game_of_Thron";
	src: url("../font/Game_of_Thrones.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "Game_of_Thron", serif;
	font-size: 12px;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
	margin-bottom: 50px;
}

caption {
	padding: 20px;
	font-family: "Game_of_Thron", serif;
	font-size: 25px;
}

td {
	width: 40px;
	height: 40px;
	border: 1px solid;
	border-radius: 10px;
	cursor: url(../image/2mvg.png), auto;
}

.stena {
	/* border: 1px solid; */
	background-color: rgb(15, 94, 39);
	background: url(https://clipart-db.ru/file_content/rastr/grass_018.jpg);
}

.enemy {
	background: url(../image/enemy-s.jpg) no-repeat center;
}

.stena:hover:after,
.finish:hover:after,
.enemy :hover:after {
	display: block;
	position: absolute;
	width: 440px;
	height: 265px;
	top: 80px;
	left: 50%;
	transform: translateX(-50%);
	font-family: "Game_of_Thron", serif;
	font-size: 25px;
	padding-top: 205px;
	text-align: center;
}

.stena:hover:after,
.enemy :hover:after {
	content: "You lose.";
	background-color: rgba(177, 52, 14, 0.808);
}

.start {
	text-align: center;
	background-color: rgb(83, 182, 182);
}

.finish {
	background-color: rgba(238, 255, 0, 0.836);
}

.finish:hover:after {
	content: "You Win";
	background-color: rgba(14, 158, 177, 0.555);
}

audio {
	display: block;
	margin: 0 auto;
}
